@font-face {
    font-family: 'Norse';
    src: url('Norse-Bold.otf');
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    background: no-repeat url("background.jpg");
    background-size: cover;
    padding: 0;
    margin: 0;
}

.main-container-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    align-items: center;
    width: 50%;
    margin: 0;
    padding: 0;
}

.main-container-1 p {
    font-size: 1rem;
    margin: 10px;
}

.main-container-1 p a {
    color: white;
}

.title {
    font-family: 'Norse', sans-serif;
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: auto 20px;
    width: 100%;
}

.title img {
    width: auto;
    height: 100px;
    margin: 10px;
}


.main-container-2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    width: 100%;
    background-color: #f2f7f8;
}

.intro {
    display: block;
    font-weight: 500;
    margin: 0 20px;
    width: 75%;
}

.intro h1 {
    color: #3b7085;
    font-size: 4rem;
    margin-bottom: 0%;
}

.intro p {
    font-size: 1.25rem;
}

.form-section {
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.049);
    padding: 40px;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px;
}

.field {
    display: flex;
    width: 33%;
    margin: auto 0;
    flex-direction: column;
}

label {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
    color: #3b7085;
}

.form-section input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #b8b8b8;
    border-radius: 10px;
}

input:active {
    border: 1px solid #3b7085;
}

input:valid {
    border: 1px solid #b2faa5;
}

input:user-invalid {
    border: 1px solid #faa5a5;
}